- requirements.txt is a text file containing all packages and its version as "package==x.x"
- Obtain packages used in your current environment by using the command:
	pip freeze
- requirements.txt contains all packages required to run the app.
- First install lets install a virtualenv for our virtual environments
	pip3 install virtualenv
- Create a virtual environment called venv, name as standard
	virtualenv venv
- Activate venv by
	source venv/bin/activate
- Deactivate using command
	deactivate